@import 'src/styles/_mixins.scss';

.user-item {
	padding: 0.5rem 1rem;
	color: white;
	background-color: black;
	border-radius: 2rem;

	&-wrapper {
		@include flex-horizontal-center;
		justify-content: space-between;
	}
}
