@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

.field {
	@include transition(border-color);
	display: block;
	margin-bottom: 1.3rem;
	padding: 12px 20px;
	background-color: $gray;
	border: 1px solid transparent;
	border-radius: $radius;

	&:focus-within {
		border-color: rgba($primary, 0.5);
	}
}
